/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}
/*start chris styles*/

/*start about page*/
.text_image_pair{
  display:flex;
  &:nth-child(even){
    flex-direction: row-reverse;
  }
}


#header{
  #pages{
    margin-left: 2%;
  }
}