/******************************************************************
Site Name: 
Author: 

Stylesheet: Full HD Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
body{
    .home_page{
    	#header{
    		h1{
    			font-size:$h1-max;
    		}
    		#pages{
    		    margin-left: auto;
    			margin-right: 70px;			
    		}
    	}
        .image-gallery .gallery-image .image-overlay .review-wrapper .review {
            font-size: 32px;
            font: 600px;
        }
        #about-properties-wrapper {
            
            #about-properties {
                max-width: 800px;
                #property-thumbnails {
                    .property-thumbnail{
                        width: 200px;
                        height: 200px;
                    }
                }
                #property-text{
                    font-size:28px;
                }
            }
        }
        #footer #footer_wrapper #yeahbud{
            width: 600px;
            bottom: -22px;
            font-size: 14px;
            margin: 5px calc(50% - 300px);
        }
    }
}